<div>
<h4>Admin Login</h4>
    <p>Welcome {{username}}</p>
    <a href="/EMS">Log out</a>

<!-- page content and controls will be here -->
 <div class="container" >
    <div class="row">
        <div class="col s12">
         <h4>Employee Data</h4>
         <!-- modal for for creating new product -->
					<div id="modal-product-form" class="modal">
					    <div class="modal-content">
					        <h4 id="modal-product-title">Create New Employee</h4>
					        <div class="row">
					            <div class="input-field col s12">
					                <input ng-model="fname" type="text" class="validate" id="form-name" placeholder="Type first name here..." />
					                <label for="name">First Name</label>
					            </div>
					 
					            <div class="input-field col s12">
					                <textarea ng-model="lname" type="text" class="validate materialize-textarea" placeholder="Type last name here..."></textarea>
					                <label for="description">Last Name</label>
					            </div>
					 
					 
					            <div class="input-field col s12">
					                <input ng-model="enumber" type="text" class="validate" id="form-price" placeholder="Type employee number here..." />
					                <label for="price">Employee Number</label>
					            </div>
					 
					 
					            <div class="input-field col s12">
					                <a id="btn-create-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="createEmployee()"><i class="material-icons left">add</i>Create</a>
					 
					                <a id="btn-update-product" class="waves-effect waves-light btn margin-bottom-1em" ng-click="editEmployee()"><i class="material-icons left">edit</i>Save Changes</a>
					 
					                <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">close</i>Close</a>
					            </div>
					        </div>
					    </div>
					</div>
			<!-- used for searching the current list -->
			<input type="text" ng-model="search" class="form-control" placeholder="Search product..." />				  
				    <table  ng-init="getAll()" class="hoverable bordered">
				        <tr>
				          <th></th>
				            <th>
				              <a href="" ng-click=""></a>
				               Name </th>
				       			<th class="text-align-center">Action</th>
				    
				        </tr>
				        <tr dir-paginate="employee in Employees| filter:search|itemsPerPage:20">
				            <td>{{$index+1}}</td>
				            <td>{{employee.emp_firstname}} {{employee.emp_lastname}}</td>
				             <td>
			                <a ng-click="readOne(employee.emp_number)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">edit</i>Edit</a>
			                <a ng-click="deleteEmployee(employee.emp_number)" class="waves-effect waves-light btn margin-bottom-1em"><i class="material-icons left">delete</i>Delete</a>
			            </td>
				        </tr>
					       	<dir-pagination-controls
						    [max-size="20"]
						    [direction-links="true"]
						    [boundary-links="true"]
						    [on-page-change=""]
						    [pagination-id=""]
						    [template-url=""]
						    [auto-hide=""]>
						    </dir-pagination-controls>
				    </table>
				<span ng-show="(employee|filter:search).length == 0">No Result</span>
				<div class="fixed-action-btn" style="bottom:45px; right:24px;">
				    <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large red" href="#modal-product-form" ng-click="showCreateForm()"><i class="large material-icons">add</i></a>
				</div>
				</div>
				</div>
	</div>
	 <script type="text/javascript">      
      // jquery codes will be here
		$(document).ready(function(){
		    // initialize modal
		    $('.modal-trigger').leanModal();
		});
    </script>
</div>